<!DOCTYPE html>
<html lang="en">
    <%- include("components/_head.ejs")%>

    <body>
        <div class="headband"></div>
        <div class="container">
            <%- include("components/_sidebar.ejs"); %>
            <div class="recent">
                <% articles.forEach((i) => { %>
                <div class="recent__block">
                    <div class="recent__brief">
                        <%- include("components/_postHeader.ejs", {article: i})
                        %>
                        <div class="recent__brief--body">
                            <%- i.text %>
                        </div>
                    </div>
                    <div class="recent__link">
                        <a href="/posts/<%= i._id %>" rel="recent">
                            Read >>
                        </a>
                    </div>
                </div>
                <% }); %>
            </div>
        </div>
        <%- include("components/_footer.ejs")%>
    </body>
</html>
