<!DOCTYPE html>
<html lang="en">
    <%- include("components/_head.ejs")%>

    <body>
        <input type="checkbox" class="modal__checkbox" id="modal-checkbox" />
        <div class="modal__background">
            <div class="modal__content">
                <label class="modal__toggle" for="modal-checkbox">X</label>

                <input
                    type="radio"
                    class="modal__radio--login"
                    id="modal-tab-login"
                    name="modal-select"
                    checked
                />
                <label for="modal-tab-login" class="modal__tab">
                    Small tour group
                </label>

                <input
                    type="radio"
                    class="modal__radio--register"
                    id="modal-tab-register"
                    name="modal-select"
                />
                <label for="modal-tab-register" class="modal__tab">
                    large tour group
                </label>

                <div class="modal__login">
                    This is login
                </div>

                <div class="modal__register">
                    This is register
                </div>
            </div>
        </div>
        <div class="headband"></div>
        <div class="container">
            <%- include("components/_sidebar.ejs"); %>
            <div class="post">
                <%- include("components/_postHeader.ejs", {article: article})%>
                <div class="post__body">
                    <%- article.text%>
                </div>
            </div>
            <%- include("components/_comments.ejs")%>
        </div>
        <%- include("components/_footer.ejs")%>
    </body>
</html>
