<!DOCTYPE html>
<html lang="en">
    <%- include("components/_head.ejs")%>

    <body>
        <%- include("components/_modal.ejs")%>
        <div class="headband"></div>
        <div class="container">
            <%- include("components/_sidebar.ejs"); %>
            <div class="post">
                <%- include("components/_postHeader.ejs", {article: article})%>
                <div class="post__body">
                    <%- article.text%>
                </div>
            </div>
            <%- include("components/_comments.ejs")%>
        </div>
        <%- include("components/_footer.ejs")%>
    </body>
</html>
